.title{
    font-family: 'Pixelify Sans';font-size: 22px;
    color: #E0FBFC;
    margin-top: 10px;
    text-align: center;
}

body{
    background-color: #253237;
}

.container_register{
    max-width: 1860px;
    height: 1080;
    margin: auto;
    background-color: #253237;
    box-shadow:  2px 10px rgba(0, 0, 0, 0.1);
}

.container_question{
    width: 100px;  
    height: 100px; 
    text-align: center;
    background-color: blue;
}

.input-box {
    margin-bottom: 15px;
    width: 100px;
    /* height: 20px; */
}